/*72b3e4
995bb4
1d1d1d*/

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex; /* Add flex container to body */
    align-items: center;
    justify-content: center;
    overflow: hidden;
z-index:0;
}

@font-face {
  font-family: regFont;
  src: url(../media/lato/Lato-Medium.ttf);
}

.background_body {
    background: linear-gradient(to bottom right, #72b3e4 0%, #995bb4 100%);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail_body {
    height: 480px;
    width: 350px;
    background-color: whitesmoke;
    border:0.1px solid black;
    border-radius:7px;
    box-shadow: 0.5px 0.5px 5px rgb(132, 132, 132);
    position:absolute;

}

.detail_body h2 {
  font-family: regFont;
position: absolute; 
  left:5%;
top:2%;

}

#regline{
width:25px;
height:0.5px;
background-color:black;
position:absolute;
top: 11%;
left:5%;
background: linear-gradient(to bottom right, #72b3e4 0%, #995bb4 100%);
border: 1px solid rgb(133, 133, 133);

}

.detail_body table{
position:absolute;
top:13%;
left:5%;
}

.detail_body table tr td {
padding-right: 38px; 
padding-top: 15px; 
padding-bottom: 5px; 
  }

#top_data{
padding-top: 25px; 
}
.detail_body table tr td label{

font-family: regFont;
font-size: 14px;
font-weight: bold;
border:none;
}

.detail_body table tr td input{
font-family: regFont;
font-size: 12px;
width:275px;
height:30px;
text-align: center;
margin-top: 15px;
margin-left: 5%;
border-radius: 5px;
border:0.5px solid rgb(211, 211, 211);
box-shadow: 0px 0.5px 1px rgb(196, 196, 196);
}

.detail_body input[type="submit"]{
width:220px;
height:30px;
background: linear-gradient(to right, #72b3e4 0%, #995bb4 100%);
border:1px solid rgb(200, 200, 200);
position:absolute;
top: 70%;
right: 20%;
border-radius: 5px;
color:whitesmoke;
cursor: pointer;
}

.detail_body #registration_page{
color:grey;
font-size: small;
font-family: regFont;
position:absolute;
right:9%;
top:6%;
cursor:pointer;
}

.detail_body #registration_page:hover{
text-decoration: underline;
}

.detail_body #forgetpwd{
font-size: small;
font-family: regFont;
position:absolute;
right:9%;
top:60%;
cursor:pointer;
}

.detail_body #forgetpwd:hover{
text-decoration: underline;
}

.social_media{
width:150px;
height:30px;
position:absolute;
top: 85%;
right: 30%;
display: flex;
justify-content:space-evenly;
}

.social_media img{
width:30px;
height:30px;

}