<html lang="en">
  <head>
    {{>header}}
    <title>home</title>
<link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
      <div class="background_body"><div class="detail_body">
          <h1>Home</h1>
          <a href="/login"><input type="submit" value="login" id="loginbtn"></a>
          <a href="/register"><input type="submit" value="register" id="registerbtn"></a>
        </div></div>
  </body>
</html>


<!---->